<h1>Leaderboad</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>
        Rank
      </th>
      <th>
        Email
      </th>
      <th>
        Score
      </th>
      <th>
        Games Played
      </th>
    </tr>
  </thead>

  <tbody>

    <% @leaderboard.each do |player| %>
      <tr>
        <th><%= player.rank %></th>
        <th><%= player.email %></th>
        <th><%= player.score %></th>
        <th><%= player.games_played %></th>
      </tr>
    <% end %>

  </tbody>
</table>
