<h1>My Matches</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>
        id
      </th>
      <th>
        Oponent
      </th>
      <th>
        Your score
      </th>
      <th>
        Oponents score
      </th>
      <th>
        Date
      </th>
    </tr>
  </thead>

  <tbody>

    <% @matches.each do |match| %>
      <tr>
        <th><%= match.id %></th>
        <th><%= match.user_b.email %></th>
        <th><%= match.score_a %></th>
        <th><%= match.score_b %></th>
        <th><%= match.date %></th>

      </tr>
    <% end %>

  </tbody>
</table>
