<h1>Create Match</h1>

<%= form_for @matches do |f| %>
  <%= f.date_select :date %>
  <%= f.label :date %>

  <%= f.hidden_field  :user_a_id, value: @user_id %>

  <%= f.label :Oponent %>
  <%= f.collection_select :user_b_id, User.all, :id, :email %>

  <%= f.label :your_score %>
  <%= f.text_field :score_a %>

  <%= f.label :oponents_score %>
  <%= f.text_field :score_b %>

  <%= f.submit %>

<% end %>
